source https://nuget.org/api/v2
source ../portmidisharp/build/Debug/AnyCPU

storage: none
redirects: force
generate_load_scripts: on

clitool dotnet-fable

nuget Fable.Core
nuget Fable.Promise
nuget Fable.Import.Browser
nuget Fable.Import.WebMIDI
nuget FSharp.Core
nuget PortMidiSharp
nuget RtMidi.Core

group Build
  source https://nuget.org/api/v2
  framework >= net461
  #nuget FAKE