source ../../../github.com/micdah/RtMidi.Core/RtMidi.Core/bin/Debug
source ../portmidisharp/build/Debug/AnyCPU
source ../fsnative/build/Debug/AnyCPU
source https://nuget.org/api/v2
storage: none
github fsprojects/FSharp.UMX src/FSharp.UMX.fs
nuget FSharp.Core = 4.6.2
nuget fsnative
nuget PortMidiSharp
nuget RtMidi.Core = 1.0.59-alpha-3


group Build
  source https://nuget.org/api/v2
  framework >= net461
  #nuget FAKE
  
group Test
    source https://nuget.org/api/v2
    storage: none

    nuget Expecto.FsCheck
    nuget FsCheck.NUnit
    nuget Logary.Adapters.Facade prerelease
    
group Fable
    source https://nuget.org/api/v2
    storage: none

    clitool dotnet-fable
    nuget Thoth.Fetch prerelease
    nuget Fable.Core prerelease
    nuget Fable.Fetch prerelease
    nuget Fable.Promise prerelease
    nuget Fable.Browser.Dom prerelease
    nuget Fable.Browser.Event prerelease
    nuget Fable.Browser.Blob prerelease
    nuget Fable.React.Native prerelease
    nuget Fable.Elmish.HMR prerelease
    nuget Fable.Elmish.React prerelease
    nuget Fable.Elmish.Browser prerelease